.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
    /* margin-bottom: 2rem; */
    /* top: 0; */
    flex-direction: row;
    /* align-content: center; */
    align-items: center;
    flex-wrap: nowrap;
}

.n-left {
    align-items: center;
    justify-content: right;
    display: flex;
}

.n-logo img {
    width: 28px;
}

.n-name {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.n-center {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.n-list>ul {
    display: flex;
    gap: 4rem;
}

.items:hover {
    color: #FF6525;
    cursor: pointer;
    text-align: none;
    text-decoration: none;
}

.items {
    text-decoration: none;
    color: black;
}

.n-right {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.n-button {
    z-index: 2;
    color: var(--orange);
    border-radius: 28px;
    height: 49px;
    border: none;
    width: 100px;
}








/* 

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
}

.list {
    list-style-type: none;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.items {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
} */

.btn {
    display: none;
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 5px;
    color: #000;
    font-size: 18px;
    width: 90px;
    color: var(--orange);
    border-radius: 28px;
    height: 49px;
    border: none;
}











@media screen and (min-width: 1200px) and (max-width : 1400px) {
    .n-list>ul {
        gap: 3rem;
    }
}


@media screen and (min-width: 1000px) and (max-width : 1200px) {
    .n-list>ul {
        gap: 1rem;
    }
}


@media screen and (min-width: 800px) and (max-width : 1000px) {
    .n-list>ul {
        gap: 1rem;
    }

    .n-wrapper {
        margin: 0 30px;

    }
}








@media screen and (min-width: 200px) and (max-width: 900px){
    .list {
        flex-direction: column;
        height: auto;
        position: absolute;
        margin-top: -20px;
        right: 24px;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }
}