:root
{
  --background: #FFFBEF;
  --orange: #FF6525;
  --green: #3DB3AD;
  --black: #272444;

}


.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);    
}
body{
  background-color: var(--background);
}



